* {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Albert Sans', sans-serif;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 70px;
  margin-bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  /* width: 100%; */
  margin: 0 20px;
  border-radius: 1rem;
  margin-bottom: 0%;
}
h1 {
  text-align: center;
  color: rgba(211, 66, 66, 0.76);
  margin-top: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 90px;
}

p {
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

h3 {
margin: 90px 0 20px 20px;
text-decoration: none;
}
input:hover{
  cursor: pointer;
}
input {
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(211, 66, 66, 0.76);
outline: none;
text-indent: 20px;
margin-top: 70px;
}
h4{
text-align: center;
margin-top: 20px;
text-decoration: none;
}

.recipe-name{
  text-decoration: none;
}
.link{
  text-decoration: none;
  color: black;
}
.image{
  width: 100%
}
.search-image{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  width: 30%
}
.search-link{
  text-decoration: none;
  color: black;
}


