* {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Albert Sans', sans-serif;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0% 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
  margin: 0 20px;
  border-radius: 1rem;
  margin-bottom: 0%;
}
h1 {
  text-align: center;
  color: rgba(211, 66, 66, 0.76);
  margin-top: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 90px;
}

p {
  text-align: center;
}

h3 {
margin: 0 0 20px 20px;
}
input:hover{
  cursor: pointer;
}
input {
padding: 10px;
border-radius: 20px;
width: 50%;
margin: 70px 0 0 150px;
background-color: rgba(211, 66, 66, 0.76);
}
button{
  color: rgba(211, 66, 66, 0.76);
  padding: 10px;
  border-radius: 2rem;
}
h4{
text-align: center;
margin-top: 20px;
}

